link rel="stylesheet" href="stylesheets/main.css"
link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
    
noscript
  link rel="stylesheet" href="stylesheets/noscript.css"