@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

/* About section of the webpage*/

#about-wrapper {
	position: relative;
    min-height: 100%;
    background: url("../images/two_chairs_lake_pichola.jpg");
    background-repeat: no-repeat;
	background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    .backlink {
    	margin-left: _size(element-margin);
    }
}

#about {
	position: relative;
	padding: _size(element-margin);
	line-height: _size(line-height);
	z-index: 2;
	background-color: _palette(bg);
	overflow: auto;

	> * {
		z-index: 1;
	}

	@include breakpoint(xxsmall) {
		padding: (_size(element-margin) * 0.5);
	}
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
    #about {
    	h1 {
    		font-size: 2em;
    	}
        p {
            font-size: 1.4em;
        }
    }
}

@media screen and (max-width: 599px) and (min-width: 300px) {
    #about {
        > * {
            font-size: 12px;
        }
    }
}