@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

#education-wrapper {
	position: relative;
	min-height: 100%;
	padding: _size(element-margin);
	z-index: 2;
	background-color: _palette(bg);
	overflow: auto;

	> * {
		z-index: 1;
	}

	@include breakpoint(xxsmall) {
		padding: (_size(element-margin) * 0.5);
	}
	
	div {
	    div {
	        h2 {
	            font-family: _font(family);
	            font-weight: 600;
	            margin-bottom: 0;
            }
	    }
	}
	
}

#uf-wrapper {
    min-height: 45%;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 20px;
    margin: _size(element-margin);
    display: flex;
}

#bits-wrapper {
    min-height: 45%;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: -225%;
    margin: _size(element-margin);
    display: flex;
}

#uf {
    width: 80%;
    display: block;
    float: left;
    background-color: _palette(bg);
}

#uf-tower {
    width: 20%;
    float: left;
    background-image: url("../images/uf_century_tower_sq.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#bits {
    width: 80%;
    display: block;
    float: left;
    background-color: _palette(bg);
}

#bits-tower {
    width: 20%;
    float: left;
    background-image: url("../images/bits_clock_tower_sq.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
    #education-wrapper {
        div {
            div {
                > * {
                    font-size: 1.2em;
                }
            }
        }
    }
}

@media screen and (max-width: 599px) and (min-width: 300px) {
    #education-wrapper {
        div {
            div {
                > * {
                    font-size: 12px;
                }
            }
        }
    }
}