@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

/* Main */

#main {
    position: relative;
    max-width: 100%;
    min-width: 27em;
    @include padding(4.5em, 3em);
    background: _palette(bg);
    border-radius: _size(border-radius);
    cursor: default;
    text-align: center;
    @include vendor('transform-origin', '50% 50%');
    @include vendor('transform', 'rotateX(0deg)');
    @include vendor('transition', (
        'opacity #{_duration(main)} ease',
        'transform #{_duration(main)} ease'
    ));

    .avatar {
        position: relative;
        display: block;
        margin-bottom: _size(element-margin);

        img {
            display: block;
            margin: 0 auto;
            border-radius: 100%;
            box-shadow: 0 0 0 1.5em _palette(bg);
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: -3em;
            width: calc(100% + 6em);
            height: _size(border-width);
            z-index: -1;
            background: _palette(border);
        }
    }
    
    .current-role {
        letter-spacing: 1.5px;
        display: block;
    }

    @include breakpoint(xsmall) {
        min-width: 0;
        width: 100%;
        @include padding(4em, 2em);

        .avatar {
            &:before {
                left: -2em;
                width: calc(100% + 4em);
            }
        }
    }

    body.is-loading & {
        opacity: 0;
        @include vendor('transform', 'rotateX(15deg)');
    }
}

.peek-through {
    @include opacity(0.95);
}

.navlinks {
    list-style: none!important;
    line-height: 1.5em;
    display: table;
    min-width: 100%;
    padding: 0;
    
    li {
        display: table-cell;
        text-align: center;
        display: inline-block;
        border-width: 0 0 0.1em 0;
        border-color: #c8cccf;
        border-style: solid;
        margin: 0 0.5em;
        padding: 0 0.5em;
    }
}

.backlink {
    background-color: #8eb9ff;
    color: _palette(fg) !important;
    padding: 0 1em;
    position: absolute;
    bottom: 0;
    font-weight: 600;
    
    a:hover {
        color: _palette(bg)!important;
    }
}