/*
Error: (border-radius: 4px, border-width: 1px, element-height: 2.75em, element-margin: 1.5em, letter-spacing: 0.2em) isn't a valid CSS value.
        on line 33 of /home/ubuntu/workspace/public/stylesheets/sass/libs/_functions.scss

28: 	li {
29: 		padding-left: 0.5em;
30: 	}
31: 
32: 	&.alt {
33: 		list-style: none;
34: 		padding-left: 0;
35: 
36: 		li {
37: 			border-top: solid 1px _palette(border);
38: 			padding: 0.5em 0;

Backtrace:
/home/ubuntu/workspace/public/stylesheets/sass/libs/_functions.scss:33
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/script/value/map.rb:52:in `to_s'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/script/tree/funcall.rb:162:in `join'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/script/tree/funcall.rb:162:in `to_value'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/script/tree/funcall.rb:155:in `to_literal'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/script/tree/funcall.rb:146:in `_perform'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/script/tree/node.rb:58:in `perform'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:405:in `visit_return'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/script/tree/funcall.rb:251:in `block (3 levels) in perform_sass_fn'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/script/tree/funcall.rb:251:in `each'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/script/tree/funcall.rb:251:in `block (2 levels) in perform_sass_fn'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/script/tree/funcall.rb:250:in `catch'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/script/tree/funcall.rb:250:in `block in perform_sass_fn'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/script/tree/funcall.rb:247:in `perform_sass_fn'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/script/tree/funcall.rb:132:in `_perform'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/script/tree/node.rb:58:in `perform'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/script/tree/list_literal.rb:63:in `block in _perform'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/script/tree/list_literal.rb:63:in `map'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/script/tree/list_literal.rb:63:in `_perform'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/script/tree/node.rb:58:in `perform'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:397:in `visit_prop'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `map'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/plugin.rb:82:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:51:in `process_result'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/gems/sass-3.4.22/bin/scss:13:in `<top (required)>'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/bin/scss:23:in `load'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/bin/scss:23:in `<main>'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/bin/ruby_executable_hooks:15:in `eval'
/usr/local/rvm/gems/ruby-2.3.0@sinatra/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: (border-radius: 4px, border-width: 1px, element-height: 2.75em, element-margin: 1.5em, letter-spacing: 0.2em) isn't a valid CSS value.\A         on line 33 of /home/ubuntu/workspace/public/stylesheets/sass/libs/_functions.scss\A \A 28: 	li {\A 29: 		padding-left: 0.5em;\A 30: 	}\A 31: \A 32: 	&.alt {\A 33: 		list-style: none;\A 34: 		padding-left: 0;\A 35: \A 36: 		li {\A 37: 			border-top: solid 1px _palette(border);\A 38: 			padding: 0.5em 0;"; }
